<a href="https://colab.research.google.com/github/gabrielborja/parc_de_montjuic/blob/main/quarterly_survey.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Survey data preparation

## Importing libraries

In [ ]:
#Upgrading Plotly
!pip install plotly --upgrade

In [1]:
# Importing python libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Loading Data

In [ ]:
# Loading data from local drive
from google.colab import files
uploaded1 = files.upload()

In [3]:
# Storing loaded data to a pandas dataframe
import io
df1 = pd.read_excel((io.BytesIO(uploaded1['survey_Q2.xlsx'])))

In [4]:
# Asserting the loaded data has the correct columns
def check_columns():
  survey_col = ['answer_form_id', 'is_anonymous',  'cust_domain_id', 'mh_customer_id', 'mh_context', 'channel_name', 'broadcast_id', 'completed',
                'answered_timestamp', 'Q1', 'Q2_A1',  'Q2_A2', 'Q2_A3', 'Q2_A4', 'Q2_A5', 'Q2_A7', 'Q2_A8', 'Q2_A9', 'Q3', 'Q4_A1', 'Q4_A2', 'Q5']
  assert df1.columns.to_list() == survey_col, f'Columns should be: {[i for i in survey_col]}'
  print(f'The file contains all correct columns')

check_columns()

The file contains all correct columns

## Data cleaning

In [5]:
# Creating function to clean up the dataframe
def df1_clean_up(df):
  # Converting timestamps to datetime
  df = df.assign(mh_context = pd.to_datetime(df['mh_context']),
                 answered_timestamp = pd.to_datetime(df['answered_timestamp']))
  # Converting timestamps to datetime
  df = df.sort_values(by='mh_context').reset_index(drop=True)
  # Assigning categories from datetime
  df = df.assign(year = df['mh_context'].dt.year,
                 quarter = df['mh_context'].dt.quarter,
                 month = df['mh_context'].dt.month_name(),
                 weeknum = df['mh_context'].dt.isocalendar().week,
                 day = df['mh_context'].dt.day_name(),
                 hour = df['answered_timestamp'].dt.hour
                 )
  # Replacing quarter numbers to string
  quarter_dict = {1: 'Q1', 2: 'Q2', 3: 'Q3', 4: 'Q4'}
  df['quarter'].replace(quarter_dict, inplace=True)
  # Creating year-quarter category
  df = df.assign(period = df['year'].astype(str) + "-" + df['quarter'])
  # Replacing non unicode characters
  df.replace(to_replace=r'Ã¥', value='å', regex=True, inplace=True)
  df.replace(to_replace=r'Ã¦', value='Å', regex=True, inplace=True)
  df.replace(to_replace=r'Ã.', value='ø', regex=True, inplace=True)
  # Replacing X values with 1
  x_cols = ['Q2_A1', 'Q2_A2', 'Q2_A3', 'Q2_A4', 'Q2_A5', 'Q2_A7', 'Q2_A8', 'Q2_A9', 'Q4_A1', 'Q4_A2']
  df[x_cols] = df[x_cols].copy().replace('X', value=1)
  return df

In [6]:
# Cleaning up the dataframe
df1 = df1_clean_up(df1)

In [7]:
#df1['Q2_A1'].value_counts(normalize=True, dropna=False)

In [8]:
# Melting dataframe questions to long format
melt1_cols = ['answer_form_id', 'is_anonymous',  'cust_domain_id', 'mh_customer_id', 'mh_context', 'channel_name', 'completed',
               'year',	'quarter',	'period', 'month',	'weeknum',	'day',	'hour']
melt2_cols = ['Q1', 'Q2_A1',  'Q2_A2', 'Q2_A3', 'Q2_A4', 'Q2_A5', 'Q2_A7', 'Q2_A8', 'Q2_A9', 'Q3', 'Q4_A1', 'Q4_A2', 'Q5']
df1_melt = pd.melt(df1, id_vars=[i for i in melt1_cols],
        value_vars=[i for i in melt2_cols], var_name='question', value_name='answer').dropna(axis=0, subset=['answer'])

In [9]:
# Splitting melted dataframe into survey sections
df1_a = df1_melt[df1_melt['question'].isin(['Q2_A1', 'Q2_A2', 'Q2_A3', 'Q2_A4', 'Q2_A5', 'Q2_A7', 'Q2_A8', 'Q2_A9'])].reset_index(drop=True)
df1_b = df1_melt[df1_melt['question'].isin(['Q4_A1', 'Q4_A2'])].reset_index(drop=True)
df1_c = df1_melt[df1_melt['question'].isin(['Q1', 'Q3', 'Q5'])].reset_index(drop=True)

In [119]:
# Creating summary table for multiple choice questions
def summary_table_1a(df):
  pv = df.pivot_table(index='question', columns=['period'], values='answer', aggfunc='sum').reset_index()
  dict_1a = {'Q2_A1':'Bedre_tilbud', 'Q2_A2':'Tvangsavvikling', 'Q2_A3':'Privat_abo', 'Q2_A4':'Dekning',
                 'Q2_A5':'Data/surfekvalitet', 'Q2_A7':'Utlandstjenesten', 'Q2_A8':'Kundeservice', 'Q2_A9':'Annet'}
  pv['question'].replace(to_replace=dict_1a, inplace=True)
  return pv
  
tb_1a = summary_table_1a(df1_a)
tb_1a

period,question,2021-Q1,2021-Q2,2021-Q3,2021-Q4,2022-Q1,2022-Q2,2022-Q3
0,Bedre_tilbud,62.0,62.0,60.0,58.0,49.0,56.0,13.0
1,Tvangsavvikling,1.0,NaN,4.0,1.0,2.0,1.0,NaN
2,Privat_abo,11.0,16.0,13.0,8.0,9.0,7.0,2.0
3,Dekning,28.0,32.0,55.0,80.0,64.0,55.0,20.0
4,Data/surfekvalitet,23.0,43.0,46.0,47.0,41.0,39.0,11.0
5,Utlandstjenesten,2.0,3.0,6.0,7.0,7.0,13.0,2.0
6,Kundeservice,23.0,13.0,16.0,16.0,29.0,15.0,3.0
7,Annet,25.0,40.0,23.0,22.0,35.0,17.0,4.0

In [11]:
# Creating summary table for true/false question
def summary_table_1b(df):
  pv = df.pivot_table(index='question', columns=['period'], values='answer', aggfunc='sum').reset_index()
  dict_1b = {'Q4_A1':'Ble_kontaktet', 'Q4_A2':'Initiativ_selv'}
  pv['question'].replace(to_replace=dict_1b, inplace=True)
  return pv

tb_1b = summary_table_1b(df1_b)
tb_1b

period,question,2021-Q1,2021-Q2,2021-Q3,2021-Q4,2022-Q1,2022-Q2,2022-Q3
0,Ble_kontaktet,70.0,82.0,80.0,83.0,73.0,76.0,22.0
1,Initiativ_selv,49.0,71.0,77.0,75.0,83.0,60.0,10.0

In [12]:
# Creating function to compute totals
def compute_total_by_quarter(df):
  total_dict = {i:len(df[df['period']==i]['answer_form_id'].unique()) for i in df['period'].unique().tolist()}
  return pd.DataFrame(total_dict.items(), columns=['period', 'total']).set_index('period').T

tb_1t = compute_total_by_quarter(df1_a)
tb_1t

period  2021-Q1  2021-Q2  2021-Q3  2021-Q4  2022-Q1  2022-Q2  2022-Q3
total       113      149      154      156      155      132       32

In [120]:
# Creating melted table for true/false question
def melt_table_1t(df):
  df_m = df.T.reset_index()
  return df_m[df_m['period']!=df_m['period'].unique()[-1]] # Dropping current period
  
tb_1t_m = melt_table_1t(tb_1t)
tb_1t_m.tail()

    period  total
1  2021-Q2    149
2  2021-Q3    154
3  2021-Q4    156
4  2022-Q1    155
5  2022-Q2    132

In [135]:
# Creating melted table with totals for multiple choice questions
def melt_table_w_totals(df):
  df_m = pd.melt(df, id_vars='question', value_vars=[i for i in df.columns if i !='question'], value_name='answer')
  df_m = pd.merge(df_m, tb_1t_m, how='inner', on='period')
  df_m = df_m.assign(perc = round(df_m['answer']/df_m['total'], 2))
  return df_m
  
tb_1a_m = melt_table_w_totals(tb_1a)
tb_1a_m = tb_1a_m.assign(dekning = np.where(tb_1a_m['question'].isin(['Dekning', 'Data/surfekvalitet']), 'Dekning', 'Annet'))
tb_1a_m.tail()

              question   period  answer  total  perc  dekning
43             Dekning  2022-Q2    55.0    132  0.42  Dekning
44  Data/surfekvalitet  2022-Q2    39.0    132  0.30  Dekning
45    Utlandstjenesten  2022-Q2    13.0    132  0.10    Annet
46        Kundeservice  2022-Q2    15.0    132  0.11    Annet
47               Annet  2022-Q2    17.0    132  0.13    Annet

In [123]:
# Creating melted table with totals for true/false question
tb_1b_m = melt_table_w_totals(tb_1b)
tb_1b_m.tail()

          question   period  answer  total  perc
7   Initiativ_selv  2021-Q4    75.0    156  0.48
8    Ble_kontaktet  2022-Q1    73.0    155  0.47
9   Initiativ_selv  2022-Q1    83.0    155  0.54
10   Ble_kontaktet  2022-Q2    76.0    132  0.58
11  Initiativ_selv  2022-Q2    60.0    132  0.45

## Exporting results to local drive

In [ ]:
# Exporting files to excel
with pd.ExcelWriter('2022_Q2_cleaned_survey.xlsx', engine='openpyxl') as writer:
  df1.to_excel(writer, sheet_name='00_clean_survey', index=False)
  df1_a.to_excel(writer, sheet_name='01_num_data_8q', index=False)
  tb_1a.to_excel(writer, sheet_name='02_table_8q', index=False)
  df1_b.to_excel(writer, sheet_name='03_num_data_2q', index=False)
  tb_1b.to_excel(writer, sheet_name='04_table_2q', index=False)
  tb_1t.to_excel(writer, sheet_name='05_period_totals', index=False)
  df1_c.to_excel(writer, sheet_name='06_text_data', index=False)
  
files.download('2022_Q2_cleaned_survey.xlsx')

## Data Visualization

In [14]:
# Importing visualization libraries
import plotly.express as px
import seaborn as sns
from ipywidgets import interact

In [ ]:
#@interact(Columns = survey_col)
#def view_columns_proportion(Columns):
#    return df1[Columns].value_counts(normalize=True, dropna=False)

In [13]:
# List of questions for interactive plot
#year_1 = df1['year'].unique()
#quarter_1 = ['Q1', 'Q2', 'Q3', 'Q4']
period_list = df1['period'].unique().tolist()

In [ ]:
# Plotting slide 2
@interact(Period = period_list)
def plot_fig_1a(Period):
  df = tb_1a[['question', Period]].copy()
  df = df.assign(perc = round(df[Period]/tb_1t[Period][0], 2))
  df = df.sort_values(by='perc', ascending=False)
  #return df
  fig_1a = px.bar(df, x='perc', y='question', title=f'{Period}',
                       text_auto='1%', width=400, height=500)
  fig_1a.update_layout({'plot_bgcolor': '#FFFFFF'}, title_font_size=16, yaxis=dict(autorange="reversed"), title_x=0.5)
  fig_1a.update_traces(marker_color='#ECC541')
  fig_1a.show()

In [ ]:
# Plotting slide 3
@interact(Period = period_list)
def plot_fig_1b(Period):
  df = tb_1b[['question', Period]].copy()
  df = df.assign(perc = round(df[Period]/tb_1t[Period][0], 2),
                 kontaktmodus = Period)
  df = df.sort_values(by='perc', ascending=False)
  #return df
  colors_1b = {'Ble_kontaktet': '#ecc541', 'Initiativ_selv': '#929291'}
  fig_1b = px.bar(df, x='kontaktmodus', y='perc', color='question', title=f'{Period}', barmode='stack', 
                       text_auto='1%', width=400, height=500, color_discrete_map=colors_1b)
  fig_1b.update_layout({'plot_bgcolor': '#FFFFFF'}, title_font_size=16, title_x=0.5)
  fig_1b.show()

In [ ]:
# Plotting slide 4
def plot_fig_1c():
  cat_ord_1c = {'question': ['Dekning', 'Bedre_tilbud', 'Data/surfekvalitet', 'Annet', 'Kundeservice',
                             'Utlandstjenesten', 'Privat_abo', 'Tvangsavvikling']}
  colors_1c = {'Dekning':'#ecc541', 'Bedre_tilbud':'#929291', 'Data/surfekvalitet':'#0080ff', 'Annet':'#be3e84', 'Kundeservice':'#987d27',
               'Utlandstjenesten':'#444e60', 'Privat_abo':'#00ffff', 'Tvangsavvikling':'#1c1915'}
  fig_1c = px.bar(tb_1a_m, x='period', y='perc', color='question', category_orders=cat_ord_1c, 
                  text_auto='1%', title=f'Survey over time', width=800, height=500)#,color_discrete_map=colors_1c)
  fig_1c.update_layout({'plot_bgcolor': '#FFFFFF'}, title_font_size=16, title_x=0.5)
  fig_1c.show()

plot_fig_1c()

In [ ]:
# Plotting slide 5
def plot_fig_1d():
  colors_1d = {'Ble_kontaktet': '#ecc541', 'Initiativ_selv': '#929291'}
  fig_1d = px.bar(tb_1b_m, x='period', y='perc', color='question', title=f'Contact type over time',
                  text_auto='1%', width=800, height=500, color_discrete_map=colors_1d)
  fig_1d.update_layout({'plot_bgcolor': '#FFFFFF'}, title_font_size=16, title_x=0.5)
  fig_1d.show()

plot_fig_1d()

In [ ]:
# Plotting slide 6
def plot_fig_1e(df):
  colors_1e = {'Dekning': '#ecc541', 'Annet': '#929291'}
  df = df.groupby(by=['period', 'dekning']).agg(dekning_samlet = ('perc', 'sum')).reset_index()
  #return df
  fig_1e = px.bar(df, x='period', y='dekning_samlet', color='dekning', title='Coverage vs. Other over time', barmode='group',
                   text_auto='1%', width=800, height=500, color_discrete_map=colors_1e)
  fig_1e.update_layout({'plot_bgcolor': '#FFFFFF'}, title_font_size=16, title_x=0.5, yaxis_tickformat = '1%')
  #fig_1e.update_yaxes(range=[0.0, 1])
  fig_1e.show()

plot_fig_1e(tb_1a_m)